@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Главная";
}
<body>
    <div align="center">
        <p class="bigLabelFont">Случайные фильмы и сериалы</p>
    </div>
    @foreach (Movie item in Model)
    {
        <div class="el elhover">
            <div>
                <a href="../Titles/@item.Id">
                    <img class="el" src="~/static/images/Posters/@(@item.Id).jpg" onerror="this.src='../Static/Images/Posters/NoPoster/NoPoster250px.png'"/>
                </a>
            </div>
            <div class="elinfo">
                <div class="eltitle">
                    <a href="../Titles/@item.Id">
                        <h2 class="el">@item.RuTitle</h2>
                    </a>
                    <div class="eltext">
                        <img class="elstar" src="~/static/images/stars/star50px.png" />
                        @item.Rating/10.0
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Delete" asp-controller="Titles" title="Удалить" asp-route-id="@item.Id">
                                <img class="elstar" src="~/static/images/InterfaceButtons/Delete.png" />
                            </a>
                        }
                    </div>
                </div>
                @item.RuDescription
            </div>
        </div>
        <br />
    }

</body>